node_modules/
dist/
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
ConservAR-1.apk

# env
.env
.env.local
.env.*.local

# build
build/

# Vite cache
.vite

# Logs
logs/
*.log

# Editors
.vscode/
.idea/
